.diagonalBox {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

@media (max-width: 576px) {
    .square {
        width: 50px;
        height: 50px;
    }

    .section {
        display: none !important;
    }

    #animationForMobil,
    #struktogrammForMobil {
        display: block !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .square {
        width: 50px;
        height: 50px;
    }

    .section {
        display: none !important;
    }

    #animationForMobil,
    #struktogrammForMobil {
        display: block !important;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .square {
        width: 60px;
        height: 60px;
    }

    .section {
        display: flex !important;
    }

    #animationForMobil,
    #struktogrammForMobil {
        display: none !important;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .square {
        width: 70px;
        height: 70px;
    }

    .section {
        display: flex !important;
    }

    #animationForMobil,
    #struktogrammForMobil {
        display: none !important;
    }
}

@media (min-width: 1400px) {
    .square {
        width: 70px;
        height: 70px;
    }

    .section {
        display: flex !important;
    }

    #animationForMobil,
    #struktogrammForMobil {
        display: none !important;
    }
}

.square {
    background-color: var(--background);
    color: var(--white);
    font-weight: bold;
    font-size: 1.3em;
    border-radius: 50%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 5px 20px -5px var(--navbarBackground);
}

#squares,
#squares2 {
    height: 300px;
    position: relative;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.list {
    width: fit-content;
    line-height: 70px;
    height: 70px;
    color: var(--white);
}

.animationButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--main);
    border-radius: 50%;
    border: none;
    box-shadow: none;
    text-decoration: none;
    color: var(--white);
    cursor: pointer !important;
}

.animationButtons:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: var(--white);
}

.legend {
    text-align: start;
    margin: auto;
}

.legendBox {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 10px;
    background-color: var(--darkMain);
}

#animationAndStruktogramm {
    background-color: var(--darkMain);
    align-items: center;
    display: flex;
    justify-content: center;
}

.section {
    min-height: 100vh;
    display: flex;
    color: white;
    width: 100vw !important;
}

#inputText, #inputText2, #outputText, #outputText2 {
    font-size: 1.2em;
}